
target
.idea
src/main/resources/public/bower_components
angular-blog.iml
src/main/resources/public/uploads/*.jpg
!src/main/resources/public/uploads/test1.jpg
!src/main/resources/public/uploads/test2.jpg