<div class="mini-container">
    <div class="mdl-card mdl-shadow--2dp blog-post-card-wide">
        <div class="mdl-card__title" style="background: url('img/{{post.photo}}') center / cover">
            <input type="text" ng-model="post.title"/>
        </div>
        <div class="mdl-card__supporting-text">
            <textarea ng-model="post.content" cols="85" rows="20"></textarea>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <div style="float: left; margin-left: 15px">
                <div class="post_date"></div>
                <div class="post_author"></div>
            </div>
            <div style="float:right">
                <a class="mdl-button mdl-js-button mdl-button--colored" ng-click="savePost()">
                    Create
                </a>
            </div>
        </div>
    </div>
</div>
