<div class="mini-container">
    <table  class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Title</th>
            <th>Author</th>
            <th>Creation date</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody ng-repeat="p in posts">
        <tr>
            <td class="mdl-data-table__cell--non-numeric">{{p.title}}</td>
            <td>{{p.author}}</td>
            <td>{{p.creationDate | date : 'dd.MM.yyyy HH:mm'}}</td>
            <td><a class="mdl-button mdl-js-button" href="#/admin/post/edit/{{p.id}}">Edit</a></td>
            <td><a class="mdl-button mdl-js-button" ng-click="deletePost(p.id)">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
