<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <nav class="navbar navbar-default" th:fragment="menu">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand">blog.marczyk.ovh</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/admin}">Admin main page</a></li>
                    <li><a th:href="@{/admin/create}">Create post</a></li>
                    <li><a th:href="@{/admin/posts}">Edit or delete posts</a></li>
                    <li><a href="/#/">Go back to blog</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

</body>
</html>