[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

body, html {
    background: url('../img/background.jpg') center / cover;
    background-attachment: fixed;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.mini-container {
    margin-top: 200px;
}

.demo-card-wide.mdl-card {
    width: 800px;
      margin-bottom: 30px;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.post_author{

}

.post_date{

}

.post_more{
    float: left;
}