[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

body, html {

}

#blog-container{
    background: url('../img/background.jpg') center / cover;
    background-attachment: fixed;
}

#admin-container{

}

.container {
    width: 800px;
    margin: 0 auto;
}

.mini-container {
    margin-top: 0px;
}

.mdl-card {
    width: 800px;
    margin-bottom: 30px;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
}

.blog-post-card-wide > .mdl-card__title {
    color: #fff;
    height: 400px;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.mdl-card__title{
    position: relative;
}

.back {
    position: absolute;
    right: 7px;
    bottom: -27px;
}

.post_more{
    float: left;
}

.admin-container {
  min-height: 200px;
}

.demo-card-event.mdl-card {
    width: 100%;
      min-height: 400px;
      background: #3E4EB8;
  }
  .demo-card-event > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
  }
  .demo-card-event > .mdl-card__title,
  .demo-card-event > .mdl-card__actions > .mdl-button {
    color: #fff;
  }
  .mdl-layout__content{
    min-height:500px;
  }