[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

body, html {
    background: url('../img/11863002835_8e8d2510d4_o.jpg') center / cover;
    background-attachment: fixed;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.mini-container {
    margin-top: 200px;
}

.mdl-card {
    width: 800px;
    margin-bottom: 30px;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
}

.blog-post-card-wide > .mdl-card__title {
    color: #fff;
    height: 400px;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.mdl-card__title{
    position: relative;
}

.back {
    position: absolute;
    right: 7px;
    bottom: -27px;
}

.post_more{
    float: left;
}