<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Admin panel</title>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/dist/css/bootstrap-theme.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/admin.css}"/>
</head>
<body>
<nav th:replace="fragments/header :: menu">

</nav>
<div class="container">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="${post}? 'Edit':'Create'">Create/Edit post</h3>
        </div>
        <div class="panel-body">
            <form method="post" th:action="@{/admin/save}" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Title" th:value="${post}? ${post.title}:''" />
                </div>
                <div class="form-group">
                    <input id="id" name="id" th:if="${post} != null" th:value="${post}? ${post.id}:''" class="hidden"/>
                    <div id="hiddenContent" th:text="${post}? ${post.content}:''" class="hidden"></div>
                    <div th:replace="fragments/wysiwyg :: editor"></div>
                    <textarea class="hidden form-control" id="content" name="content" placeholder="Content"></textarea>
                </div>

                <div>

                    <tr th:each="p, rowStat : *{post.photos}" id="uploadsList">
                        <td>
                            <img class="preview" th:src="'/uploads?name='+*{post.photos[__${rowStat.index}__].path}"/>
                        </td>
                        <br />
                    </tr>

                    <div class="drop-area-div">
                        <input type="file" name="file" title="Click to add Files"/>
                    </div>
                </div>
                <button id="createButton" type="submit" class="btn btn-success" th:text="${post}? 'Update':'Create'">Create/Update</button>
            </form>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>

<script th:src="@{/js/jquery.hotkeys.js}"></script>
<script th:src="@{/js/bootstrap-wysiwyg.js}"></script>
<script th:src="@{/js/dmuploader.min.js}"></script>
<script th:src="@{/js/admin/create.js}"></script>

</body>
</html>