<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Blog</title>

    <link rel="stylesheet" th:href="@{/webjars/material-design-lite/1.0.0/material.min.css}"/>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.orange-red.min.css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons"/>

    <link rel="stylesheet" th:href="@{css/style.css}"/>
</head>

<body ng-app="app">
    <div ui-view=""></div>

    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/angularjs/1.4.1/angular.min.js}"></script>
    <script th:src="@{/webjars/material-design-lite/1.0.0/material.min.js}"></script>
    <script th:src="@{/webjars/angular-ui-router/0.2.15/release/angular-ui-router.min.js}"></script>

    <script th:src="@{/js/app.js}"></script>

    <script th:src="@{/js/blog/mainCtrl.js}"></script>
    <script th:src="@{/js/blog/postCtrl.js}"></script>

    <script th:src="@{/js/admin/mainCtrl.js}"></script>
    <script th:src="@{/js/admin/postsCtrl.js}"></script>
    <script th:src="@{/js/admin/editPostCtrl.js}"></script>
    <script th:src="@{/js/admin/createPostCtrl.js}"></script>


    <script th:src="@{/js/routing.js}"></script>
</body>
</html>