<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Admin panel</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/dist/css/bootstrap-theme.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/admin.css}"/>
</head>
<body>
<nav th:replace="fragments/header :: menu">

</nav>
<div class="container">

    <table class="table">
        <thead>
            <tr>
                <td>Title</td>
                <td>Creation date</td>
                <td/>
                <td/>
            </tr>
        </thead>
        <tbody>
            <tr th:each="post: ${posts}">
                <td th:text="${post.title}"/>
                <td th:text="${post.creationDate}"/>
                <td><a class="btn btn-warning" th:href="@{/admin/edit(id=${post.id})}">Edit</a></td>
                <td><a class="btn btn-danger" th:href="@{/admin/delete(id=${post.id})}">Delete</a></td>
            </tr>
        </tbody>
    </table>


</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>