<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Admin panel</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/dist/css/bootstrap-theme.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/admin.css}"/>
</head>
<body>
<nav th:replace="fragments/header :: menu">

</nav>
<div class="container">

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="${messageTitle}"/>
        </div>
        <div class="panel-body">
            <p th:text="${messageContent}"/>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>