<div class="mini-container">
    <div ng-if="posts.length == 0" class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h1>No posts :(</h1>
        </div>
        <div class="mdl-card__supporting-text" style="text-align: center;">
            <h3>There are no posts now. Please come back later.</h3>
        </div>
    </div>

    <div ng-repeat="p in posts" class="mdl-card mdl-shadow--2dp demo-card-wide">
        <div class="mdl-card__title">
            <div class="post_date">{{p.creationDate | date : 'dd.MM.yyyy HH:mm'}}</div>
            <h1 class="post_title cl-effect-21">
                <a href="#/post/{{p.id}}" data-hover="{{p.title}}">
                    {{p.title}}
                </a>
            </h1>
            <div class="post_author">{{p.author}}</div>
        </div>
        <div class="mdl-card__supporting-text">
            <div ng-if="p.photos.length>0" id="carousel-example-generic" class="carousel slide"
                 data-ride="carousel" data-interval="5000">
                <ol class="carousel-indicators">
                    <li ng-repeat="photo in p.photos" data-target="#carousel-example-generic"
                    data-slide-to="{{$index}}" ng-class="{active: $first}"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div ng-repeat="photo in p.photos" class="item" ng-class="{active: $first}">
                        <img ng-src="uploads/{{photo.path}}" alt="" />
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <p class="content" ng-bind-html="p.content"></p>
        </div>
    </div>
</div>
